.main{
    height: 100%;
}
.error{
    font-size: 40px;
    color: #d32f2f;
    padding-top: 2% !important;
    margin:1% 10% 0% 2%!important
}
.btn-error{
    background-color: #d32f2f !important;
    color:white !important;
    margin-bottom: 5% !important;
    margin-left: 3%;
}
.footer-text{
    margin-top: 1.5rem;
    margin-left: 1rem;
}
i{
    margin: 0 .25rem !important;
}
.err-body{
    padding-top: 2% !important;
    margin:0% 10% 2% 4%!important;
    font-size: 20px;
}