.title{
    margin: 1rem 2rem;
    font-size: 30px;

}
.btn-add{

    margin: .5rem 3rem 1rem 1rem;

}
.btn-actions{
    margin: 0 5px !important;
}
i{
    margin-right:.5rem;
}
table{
    width: 100% !important;
}
th,td{
    width: 15rem !important;
    margin-top: 5px !important;
}
.btn-red{
    background: #d32f2f !important; 
    color: white !important; 
}
.btn-back{
    float: right !important;
}
mat-card{
    margin: 2rem 1rem;
}