mat-card{
    width: 70%;
    margin: 20% auto !important;
    margin-bottom: 40% !important;
}
mat-form-field{
    width: 70%;
    margin: 1% 10% !important;
}
.side{
    background: url('../../assets/images/inv_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-text{
    margin-top: 1.5rem;
    margin-left: 1rem;
}
img{
    max-width: 120px;
    margin-top: 20%;
}
.img-div{
    text-align: center;
    vertical-align: middle;
}
.img-text{
    margin-top: 5%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 50px;
}
