
.title{
    margin: 1rem 2rem !important;
    font-size: 30px;
}
mat-table {
    width: auto !important;
    text-align: center !important;
    justify-content:center !important; 


}
td{
    width:30rem;
}

table{
    width:100% !important;
}
.delete{
    background: #d32f2f !important;
    color: white !important;
    margin-left: 1rem;
   
}

